<ion-header [translucent]="true" class="ion-no-border" color="dark">
    <ion-toolbar color="dark">
        <ion-title>
            Pendientes
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
    <app-listas [terminado]="false"></app-listas>
    <ion-list color="dark"> </ion-list>

    <!-- fab placed to the top end -->
</ion-content>
<ion-fab vertical="bottom" horizontal="end " slot="fixed ">
    <ion-fab-button color="tertiary " (click)="agregarLista() ">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
</ion-fab>